html {
    overflow-y: scroll;
}

body {
    font-family: 'Courier New', monospace;
    line-height: 1.5;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin: auto;
    padding-bottom: 30px;
}

a {
    color: blue;
}

a:hover {
    color: #2c7cc9;
}

header {
    margin-top: 10px;
    text-align: center;
}

.navbar {
    margin-bottom: 30px;
}

.navlink {
    font-size: 20px;
}

nav, h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
    line-height: normal;
}

/* Making it a reasonable size on mobile. */
@viewport {
    width: device-width;
    zoom: 1.0;
}

/* Scale images & videos so they're not too big. */
img {
    max-width: 100%;
    height: auto;
}
video {
    max-width: 100%;
}

.bordered-centered-table {
    border-collapse: collapse;
    border: 1px solid black;
}

.bordered-centered-table th {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.bordered-centered-table td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
