{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block content %}
<h2>Welcome!</h2>
<p>...to the family genealogy website. Check out:</p>

<ul>
<li><a href="/people.html">/people.html</a> for a directory of all the people in the tree.</li>
<li><a href="/families.html">/families.html</a> for a directory of families (including partners without children).</li>
<li><a href="/sources.html">/sources.html</a> for a list of sources. Some sources come with a description of what they contain, how they were gathered, etc.</li>
</ul
{% endblock content %}
