{% extends "base.html" %}
{% block title %} {{ person.display_name }} {% endblock title %}
{% block content %}
<h1>{{ person.display_name }}</h1>
<h3>Biographical Information</h3>
<table class="bordered-centered-table text-centered"><tr><th>Gender</th><td>{{ format_gender(person.gender) }}</td></tr>
<tr><th>Sources for existence</th><td>{{ format_cite("", person.bio_cites, page_cites)|safe }}</td></tr>
<tr><th>Birth</th><td>{{ format_event_date(person.birth, page_cites=page_cites)|safe }}</td></tr>
<tr><th>Death</th><td>{{ format_event_date(person.death, page_cites=page_cites, default="-")|safe }}</td></tr>
<tr><th>Known Ancestors</th><td>{{ person.num_ancestors|safe }}</td></tr>
<tr><th>Known Descendents</th><td>{{ person.num_descendents|safe }}</td></tr>
<tr><th>Generation</th><td>{{ person.generation_number|safe }}</td></tr>
</table>

<h3>Names</h3>
<table class="bordered-centered-table text-centered">
<tr><th>Title</th><th>First name(s)</th><th>Surname</th><th>Type</th><th>Sources</th></tr>
{% for name in person.names %}<tr><td>{{ name.title }}</td>
<td>{{ name.first }}</td>
<td>{{ name.surname }}</td>
<td>{{ name.name_type }}</td>
<td>{{ format_cite("", name.cites, page_cites)|safe }}</td>
</tr>{% endfor %}
</table>

<h3>Families</h3>
<p><i>Was part of these families as a child:</i></p>
{% if person.families_as_child %}
{% for fam in person.families_as_child %}
<p><table class="indent bordered-centered-table text-centered">
<tr><th colspan='5'><a href='/family/{{ fam.family_id }}.html'>{{ fam.family_id }}</a></th></tr>
<tr><th rowspan='2'>Parents</th>
{% if fam.parent1_id %}{{ format_person_row(fam.parent1_id)|safe }}{% else %}<td colspan='4'>?</td>{% endif %}</tr>
{% if fam.parent2_id %}{{ format_person_row(fam.parent2_id)|safe }}{% else %}<td colspan='4'>?</td>{% endif %}</tr>
<tr><th>Parent Rel. Type</th><td colspan='4'>{{ fam.relationship_type }}</td></tr>
<tr><th>Rel. to Parents</th><td colspan='4'>
{% for child_id, relationship_type in fam.children %}
{% if child_id == person.gramps_id %}{{ relationship_type }}{% endif %}
{% endfor %}
</td></tr>
{% if fam.children|length > 1 %}
{% set ns = namespace(first_sibling=true) %}
{% for child_id, relation_type in fam.children %}
{% if child_id != person.gramps_id %}
<tr>{% if ns.first_sibling %}<th rowspan='{{ fam.children|length - 1}}'>Siblings</th>
{% endif %}
{% set ns.first_sibling = false %}
{{ format_child_row(child_id, relation_type)|safe }}</tr>
{% endif %}
{% endfor %}
{% endif %}
<tr><th>Num. Notes</th><td colspan='4'>{{ fam.notes|length }}</td></tr>
<tr><th>Sources</th><td colspan='4'>{{ format_cite("", fam.cites, page_cites)|safe }}</td></tr>
</table></p>
{% endfor %}
{% else %}
<p class="indent">(not known)</p>
{% endif %}

<p><i>Had the following partners:</i></p>
{% if person.families_as_partner %}
{% for fam in person.families_as_partner %}
<p>
<table class="indent bordered-centered-table text-centered">
<tr><th colspan='5'><a href='/family/{{ fam.family_id }}.html'>{{ fam.family_id }}</a></th></tr>
<tr><th>Partner</th>
{% if fam.parent1_id and fam.parent2_id %}
{{ format_person_row(fam.parent1_id if fam.parent1_id != person.gramps_id else fam.parent2_id)|safe }}
{% else %}
<td colspan='4'>?</td>
{% endif %}
<tr><th>Rel. Type</th><td colspan='4'>{{ fam.relationship_type }}</td></tr>

{% if fam.relationship_type == "Married" %}
<tr><th>Marriage Date</th><td colspan='4'>
{% set ns = namespace(found_date=false) %}
{% for ev in fam.events %}
{# Assuming there'll only be one marriage. #}
{% if ev.event_type == EventType.MARRIAGE %}
{% set ns.found_date = true %}
{{ format_event_date(ev, page_cites)|safe }}
{% endif %}
{% endfor %}
{% if not ns.found_date %} ? {% endif %}
</td></tr>
{% endif %}

{% if fam.children %}
{% for child_id, relation_type in fam.children %}
<tr>{% if loop.index0 == 0 %}<th rowspan='{{ fam.children|length }}'>Children</th>{% endif %}{{ format_child_row(child_id, relation_type)|safe }}</tr>
{% endfor %}
{% endif %}
<tr><th>Num. Notes</th><td colspan='4'>{{ fam.notes|length }}</td></tr>
<tr><th>Sources</th><td colspan='4'>{{ format_cite("", fam.cites, page_cites)|safe }}</td></tr>
</table>
</p>
{% endfor %}
{% else %}
<p class="indent">(none known)</p>
{% endif %}

<h3>Events</h3>
{{ format_person_events_table(person, page_cites)|safe }}

<h3>Notes</h3>
{{ format_notes_table(person.notes, page_cites)|safe }}

<hr>

{{ format_cite_section(page_cites)|safe }}

{% endblock content %}
