{% extends "base.html" %}
{% block title %} Tree Browser {% endblock title %}
{% block extrahead %} <link rel="stylesheet" href="/static/css/family-chart.css">
<script type="module" src="/static/js/bundle.js"></script>{% endblock extrahead %}
{% block content %}
<div id="FamilyChart"
     class="f3"
     style="width:100%;height:900px;margin:auto;background-color:rgb(33,33,33);color:#fff;">
</div>

<script type="module">
const data = [
{% for p in people %}
  { "id": "{{p.gramps_id}}",
    "data": {"name": "{{p.display_name}}",
             "gender": "{{'M' if p.gender == Gender.MALE else 'F'}}",
             "birth": "{{format_event_date(p.birth)}}",
             "death": "{{format_event_date(p.death)}}"},
    "rels": {
        "spouses": [
            {% for fam in p.families_as_partner %}
            {% if fam.parent1_id and fam.parent1_id != p.gramps_id %}"{{ fam.parent1_id }}",
            {% elif fam.parent2_id and fam.parent2_id != p.gramps_id %}"{{ fam.parent2_id }}",{% endif %}
            {% endfor %}
        ],
        "children": [
            {% for fam in p.families_as_partner %} {% for child_id, rel in fam.children %}
            {% if rel == 'Birth' %}"{{ child_id }}",{% endif %}{% endfor %}{% endfor %}
        ],
        "parents": [
            {% for fam in p.families_as_child %} {% for child_id, rel in fam.children %}
            {% if rel == 'Birth' and child_id == p.gramps_id %}
            {% if fam.parent1_id %}"{{ fam.parent1_id }}",{% endif %}
            {% if fam.parent2_id %}"{{ fam.parent2_id }}",{% endif %}
            {% endif %}{% endfor %}{% endfor %}
        ]
    }
  },
{% endfor %}
];

tree.main(data);
</script>
{% endblock content %}
